@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/base";
@import "partials/layout";
@import "partials/mixins";
@import "partials/media-queries";

body {
  font-size: $root-font-size;
}
  header {
    
    p {
      font: 1.9em Source Sans Pro, sans-serif;
      letter-spacing: 0.5em;
      padding-left: 1em;

      @include respond-to($bp1) {
        font-size: 1.3em;
        letter-spacing: 0.4em;
      }

      @include respond-to($bp2) {
        font-size: 1.6em;
        letter-spacing: 0.4em;
      }

      @include respond-to-landscape($bp2) {
        font-size: 1.5em;
      } 
    }
}

.section-with-image {
  @include repeating-section-with-image;
  @include respond-to($bp1) {
    background-attachment: initial !important;
  }

  h1 {
    @include section-title;
      font-size: 6.6em;
      padding-top: 5.5em;

    @include respond-to($bp1) {
      font-size: 4em;
      padding-top: 9em;
    }

    @include respond-to($bp2) {
      padding-top: 5.5em;
    } 
    
    @include respond-to-landscape($bp2) {
      font-size: 3.5em;
      padding-top: 5em;
    }  
  }
}

.sect1 {
  background-image: url("../images/image-himashi-sized.jpg");
}

.sub-section {
  @include sub-section-with-text;

  @include respond-to($bp1) {
    padding: 4em;
  }

  @include respond-to($bp2) {
    padding: 6em;
  }

  @include respond-to-landscape($bp2) {
    padding: 4em;
  }

  h3 {
    @include sub-section-title;

    @include respond-to($bp1) {
      font-size: 1.4em;
    }

    @include respond-to($bp2) {
      font-size: 1.9em;
    }

    br {
      
      @include respond-to($bp1) {
        dsplay: none;
      }
  
      @include respond-to($bp2) {
        display: none;
      }

      @include respond-to-landscape($bp2) {
        display: none;
      }   
    }
  }

  p {
    @include sub-section-para;

    a {
      font-weight: bolder;
      font-style: oblique;
      font-size: 1.2em;
    }
  }

  .links {
    list-style-type: none;
    text-align: center;
    padding-top: 5em;
    padding-left: 0;

    li {
      display: inline;
    }
  }

  .logos {
    width: 5em;
    padding-right: 1.5em;
  }
}

.sect2 {
  background-image: url("../images/image-workdesk.jpg");

  @include respond-to($bp1) {
    background-image: url("../images/image-workdesk-phone.jpg");
  }

  @include respond-to($bp2) {
    background-image: url("../images/image-workdesk-ipad.jpg");
  }

  h1 {
    @include section-title;

    @include respond-to($bp1) {
      font-size: 2.4em;
      padding-top: 5.5em; 
    }

    @include respond-to($bp2) {
      font-size: 3.6em;
      padding-top: 5em; 
    }

    @include respond-to-landscape($bp2) {
      font-size: 3em;
      padding-top: 2em;
    }  
  }

  #email-address {
    margin: 1.5em 0 0 0;
    text-align: center;

    a {
      color: $primary-color;
      font-size: 2em;
      text-align: center;

      @include respond-to($bp1) {
        font-size: 1.7em;
      }

      a:hover, a:active { 
        color: #822034;
      }
    } 
  }
}

.back-to-top {
  @include center-div;
  position: relative;
  top: 45%;

  .scroll-to-top {
    @include button-no-property;
    font-size: 1.2em;
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

    .scroll-to-top:hover {
      color: #822034;
    }
  }
}
