@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/base";
@import "partials/layout";
@import "partials/mixins";
@import "partials/media-queries";

body {
  font-size: $root-font-size;
}
  header {
    
    p {
      font: 1.9em Source Sans Pro, sans-serif;
      letter-spacing: 0.5em;
      padding-left: 1em;
    }
}

.section-with-image {
  @include repeating-section-with-image;

  h1 {
    @include section-title;
    font-size: 6.6em;
    padding-top: 5.5em;
  }
}

.sect1 {
  background-image: url("../images/image-himashi.jpg");
}

.sub-section {
  @include sub-section-with-text;

  h3 {
    @include sub-section-title;
  }

  p {
    @include sub-section-para;

    a {
      font-weight: bolder;
      font-style: oblique;
      font-size: 1.2em;
    }
  }

  .links {
    list-style-type: none;
    text-align: center;
    padding-top: 5em;
    padding-left: 0;

    li {
      display: inline;
    }
  }

  .logos {
    width: 5em;
    padding-right: 1.5em;
  }
}

.sect2 {
  background-image: url("../images/image-workdesk.jpg");

  h1 {
    @include section-title;
  }

  #email-address {
    margin: 1.5em 0 0 0;
    text-align: center;

    a {
      color: $primary-color;
      font-size: 2em;
      text-align: center;

      a:hover, a:active { 
        color: #822034;
      }
    } 
  }
}

.back-to-top {
  @include center-div;
  position: relative;
  top: 37%;

  .scroll-to-top {
    @include button-no-property;
    font-size: 1.2em;
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

    .scroll-to-top:hover {
      color: #822034;
    }
  }
}
