@import "compass";
@import "partials/variables";
//@import "partials/normalize";
@import "partials/base";
@import "partials/layout";
@import "partials/mixins";

* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
} 

.top {
  height: 10%;

  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 12px;
    font-size: 25px;
    padding-left: 30px;
  }
}

.section {
  height: 100%; 
  width: 100%;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    color: $primary-color;
    font-family: Bariol, sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 13em;
    text-align: center;
  }
}

.sub-section {
  height: 50%;
  background-color: $primary-color;
}

.sectOne {
  background-image: url("../images/image-himashi.jpg");
}

.sub-sectOne {

  .contain {
    padding-top: 60px;
    padding-bottom: 70px;
    padding-right: 190px;
    padding-left: 190px;
    width: 100%;
    height: 100%
  }

    h3 {
      //position: relative;
      //top: 20%;
      //transform: translateY(-20%);
      text-align: center;
      font-size: 30px;
      font-family: Palatino;
      //line-height: 150px;
    }

    p {
      //position: relative;
      //top: 30%;
      //transform: translateY(-30%);
      font-size: 18px;
      font-family: Palatino;
      padding-top: 25px;

      a {
        font-weight: bolder;
        font-style: oblique;
        font-size: 20px;
      }
    }

    .links {
      text-align: center;
      padding-top: 60px;
      height: 100px;
    }

    .logos {
      width: 60px;
      padding-right: 25px;
    }
}

.sectTwo {
  background-image: url("../images/image-workdesk.jpg");

  h2 {
    color: $primary-color;
    font-family: Bariol, sans-serif;
    font-wiehgt: bold;
    font-size: 66px;
    text-transform: uppercase;
    text-align: center;
    line-height: 270px;
  }
    p {
      padding-top: 45px;
      text-align: center;
    }

      a {
        color: $primary-color;
        font-size: 25px;
        text-align: center;
      }

      a:hover, a:active { 
       color: #822034;
      }
}

.back-to-top {
  display: flex;
  position: relative;
  top: 50%;
  justify-content: center;
}

#scrollup {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 11px;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}


//Media Queries//

//Phone//

@media screen and (max-device-width: 480px) {
  .sectOne {
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image-himashi-phone.jpg");
  }
}

@media screen and (max-device-width: 480px) {
  .sectOne h1 {
    font-size: 80px;
    line-height: 21em;
  }
}

@media screen and (max-device-width: 480px) {
  .sub-sectOne {
    height: 30%; 
  }
}

@media screen and (max-device-width: 480px) {
  .links {
    height: 150px;
  }
} 


@media screen and (max-device-width: 480px) {
  .logos {
      width: 90px;
  }
}

@media screen and (max-device-width: 480px) {
  .sectTwo {
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image-workdesk-phone.jpg");
  }
}

@media screen and (max-device-width: 480px) {
  .back-to-top {
    display: flex;
    position: relative;
    top: 75%;
    justify-content: center;
  }
}

@media screen and (max-device-width: 480px) {
  #scrollup {
    font-size: 20px;
  }
}


//Tablet//

@media screen and (min-device-width: 750px) and (max-device-width: 1024px) {
  .sectOne {
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-image: url("../images/image-himashi-ipad.jpg");
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 .sectOne h1 {
    font-size: 80px;
    line-height: 16.5em;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sub-sectOne { 
    height: 40%; 
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sectTwo {
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image-workdesk-ipad.jpg");
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .back-to-top {
    display: flex;
    position: relative;
    top: 70%;
    justify-content: center;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #scrollup {
    font-size: 20px;
  }
}

/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 
    .sectOne {
    height: 100%; 
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/image-himashi-phone.jpg");
  }
}
