@mixin default-text-color($tc) {
  color: $tc;
}

@mixin center-div {
  display: flex;
  justify-content: center;
}

@mixin repeating-section-with-image {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@mixin section-title {
  font: bold 5.5em Numans, sans-serif;
  color: $primary-color;
  text-transform: uppercase;
  margin: 0;
  padding-top: 3em;
  text-align: center;
}

@mixin sub-section-with-text {
  background-color: $primary-color;
  padding: 8em;
}

@mixin sub-section-title {
  font: 2.5em Montserrat, sans-serif;
  text-align: center;
}

@mixin sub-section-para {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  padding-top: 1em;
  padding-left: 15em;
  padding-right: 15em;
  line-height: 1.7em;
}

@mixin button-no-property {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

@mixin respond-to($media) {
  @media only screen and #{$media} and (orientation: portrait) {
      @content;
  }
}

@mixin respond-to-landscape($media) {
  @media only screen and #{$media} and (orientation: landscape) {
      @content;
  }
}
